/* .code,
code {
  padding: 0 0.25rem;
  background: #eee;
  border-radius: 3px;
  margin-right: 0.5rem;
  font-family: monospace;
  display: inline-block;
} */

h1,
h2,
h3,
h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  line-height: 2.35rem;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #06395a;
  border-top: 10px solid #06395a;
  padding-top: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  background: #f4f7fb;
}




pre {
  /* In theory shiki will overwrite these, but this is to make sure there are defaults */
  background-color: white;
  color: black;
  /* Give it some space to breathe */
  padding: 12px;
  /* All code samples get a grey border, twoslash ones get a different color */
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  margin-bottom: 3rem;
  /* Important to allow the code to move horizontally; */
  overflow: auto;
  position: relative;
}
pre.shiki {
  overflow: initial;
}
/* So that folks know you can highlight */
pre.twoslash {
  border-color: #719af4;
}
/* The code inside should scroll, but the overflow can't be on the shiki because it would not allow the relative positioning */
pre .code-container {
  overflow: auto;
}
/* Handle scrolling, and showing code correctly */
pre code {
  white-space: pre;
  -webkit-overflow-scrolling: touch;
}
/* Let errors use the outer shiki for their absolute sizing, and not be affected by the scrolling of the code */
pre data-err {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%206%203'%20enable-background%3D'new%200%200%206%203'%20height%3D'3'%20width%3D'6'%3E%3Cg%20fill%3D'%23c94824'%3E%3Cpolygon%20points%3D'5.5%2C0%202.5%2C3%201.1%2C3%204.1%2C0'%2F%3E%3Cpolygon%20points%3D'4%2C0%206%2C2%206%2C0.6%205.4%2C0'%2F%3E%3Cpolygon%20points%3D'0%2C2%201%2C3%202.4%2C3%200%2C0.6'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
    repeat-x bottom left;
  padding-bottom: 3px;
}
/* In order to have the 'popped out' style design and to not break the layout
/* we need to place a fake and un-selectable copy of the error which _isn't_ broken out
/* behind the actual error message.
/* This section keeps both of those in sync  */
pre .error,
pre .error-behind {
  margin-left: -20px;
  margin-top: 8px;
  margin-bottom: 4px;
  padding: 6px;
  padding-left: 14px;
  white-space: pre-wrap;
  display: block;
}
pre .error {
  position: absolute;
  background-color: #ffeeee;
  border-left: 2px solid #bf1818;
  width: calc(100% - 14px);
  /* Give the space to the error code  */
  display: flex;
  align-items: center;
  color: black;
}
pre .error .code {
  display: none;
}
pre .error-behind {
  user-select: none;
  color: #ffeeee;
}
data-lsp {
  /* Ensures there's no 1px jump when the hover happens above */
  border-bottom: 1px dotted transparent;
  /* Fades in unobtrusively */
  transition-timing-function: ease;
  transition: border-color 0.3s;
}
/* Respect people's wishes to not have animations */
@media (prefers-reduced-motion: reduce) {
  data-lsp {
    transition: none;
  }
}
/** When you mouse over the pre, show the underlines */
pre:hover data-lsp {
  border-color: #747474;
}
/** The tooltip-like which provides the LSP response */
#twoslash-mouse-hover-info {
  background-color: #3f3f3f;
  color: #fff;
  text-align: left;
  padding: 5px 8px;
  border-radius: 2px;
  font-family: "JetBrains Mono", Menlo, Monaco, Consolas, Courier New, monospace;
  font-size: 14px;
  white-space: pre-wrap;
}
